body {
  font-family: Arial, sans-serif;
  position: absolute;
  background-color: gray;
  padding-top: 8%;

  background: conic-gradient(at 50% 25%, #0000 75%, #47d3ff 0),
    conic-gradient(at 50% 25%, #0000 75%, #47d3ff 0) 60px 60px,
    conic-gradient(at 50% 25%, #0000 75%, #47d3ff 0) calc(2 * 60px)
      calc(2 * 60px),
    conic-gradient(at 50% 25%, #0000 75%, #47d3ff 0) calc(3 * 60px)
      calc(3 * 60px),
    repeating-linear-gradient(135deg, #adafff 0 12.5%, #474bff 0 25%);
  background-size: calc(4 * 60px) calc(4 * 60px);
}

.container {
  background-color: rgb(37, 36, 36);
  height: 50vh;
  width: 40vw;
  text-align: center;
  padding-top: 5px;
  position: relative;
  left: 72%;
  border-radius: 10%;
}
h1 {
  color: white;
  padding-bottom: 8%;
}

label {
  display: inline-block;
  width: 100px;
  text-align: left;
  color: yellow;
}

input[type="text"] {
  width: 28vw;
  padding: 5px;
  margin-bottom: 10px;
}
span{
  color: yellow;
}

@media (max-width: 1440px) {
  input[type="text"] {
    width: 25vw;
    padding: 5px;
    margin-bottom: 15px;
  }
}

@media (max-width: 1024px){
  input[type="text"] {
    width: 20vw;
    padding: 5px;
    margin-bottom: 15px;
  }
}

@media (max-width:768px){
  .container {
    background-color: rgb(37, 36, 36);
    height: 50vh;
    width: 40vw;
    text-align: center;
    padding-top: 5px;
    position: relative;
    left: 72%;
    border-radius: 10%;
  } 
}

@media (max-width:425px){
  .container {
    background-color: rgb(37, 36, 36);
    height: 50vh;
    width: 40vw;
    text-align: center;
    padding-top: 5px;
    position: relative;
    left: 72%;
    border-radius: 10%;
  } 
}